.video{
    margin-top: 100px;
    height: 450px;
}
.video__iframes{
    margin: 50px auto 0;
    width: fit-content;
    z-index: 1;
}
.video__iframe{
    margin-right: 20px;
    z-index: 1;
}
.video__iframe:last-of-type{
    margin-right: 0;
}
