.kaufman{
  background-color: #1f1f1f;
  color: #fff;
  padding: 90px 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}


.kaufman__rotation{
  position: absolute;
    right: -124px;
    top: 0px;
  animation: rotation 20s linear infinite;
}
div.kaufman__triangle{
  background-image: url(../../images/kaufman-triangle.svg);
  width: 660px;
  height: 636px;
}