.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.logo{
  z-index: 1;
}
.logo_place_header{
  margin: 0;
  width: 154px;
  height: 31px;
  position: absolute;
    top: 30px;
    left: 64px;
}
.header__title{
  margin: 0 0 0 64px;
  padding: 0;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;
}
.header__subtitle{
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  position: absolute;
    bottom: 30px;
    left: 64px;
  z-index: 1;
}
.header__link{
  color: #2f80ed;
  text-decoration: none;
}
.header__main-illustration{
  width: 756px;
  height: 608px;
  position: absolute;
    bottom: 0px;
    right: 0px;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
    top: 64px;
    right: 0px;
}
.content{
  margin: 0;
}

.description{
  margin: 100px 0;
}
.two-columns{
  margin: 0 auto;
  width: 80%;
  
  display: flex;
  justify-content: space-between;
}
.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}
.two-columns__main-text{
  width: 80%;  
  min-width: 784px;
}
.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}
.two-columns__paragraph:last-of-type{
  margin-bottom: 0;
}
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits{
  margin: 0 0 100px;
}
.section-title{
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin: 0 auto 20px;
  text-align: center;
  z-index: 1;
}
.section-subtitle{
  width: 60%;
  margin: auto auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}
.table{
  list-style: none;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table__cell{
  width: 250px;
  margin-top: 60px;
}
.table__heading{
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text{
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman{
  margin: 0 auto 0;
  padding: 100px 0 0;
  background-color: #f2f2f2;
  min-height: 790px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.feynman__image{
  width: 867px;
  height: 637px;
  position: absolute;
    bottom: 0;
    left: 0;
  z-index: 0;
}
.feynman__title{
  width: 775px;
  height: fit-content;
  margin: 0 auto 70px;
  padding: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}
.feynman__subtitle{
  width: fit-content;
  height: fit-content;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0 auto;
  z-index: 1;
}
.feynman__link{
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  position: absolute;
    top: 50%;
    right: 48px;
}
.kaufman{
  background-color: #1f1f1f;
  color: #fff;
  padding: 90px 0;
  overflow: hidden;
  position: relative;
}
.section-title_theme_dark{
  text-align: center;
  position: relative;
  z-index: 1;
}
.section-subtitle_theme_dark{
  font-weight: normal;
  position: relative;
  z-index: 1;
}
.table_theme_dark{
  display: flex;
  position: relative;
}
.table__cell_theme_dark{
  width: 200px;
  margin-top: 80px;
}
.kaufman__triangle{
  width: 660px;
  height: 636px;
  position: absolute;
    right: -124px;
    top: 0px;
    z-index: 0;
}

.footer{
  background-color: #1f1f1f;
  color: #fff;
  box-sizing: border-box;
  min-height: 350px;
  padding: 60px 0 40px;
  display: flex;
  justify-content: stretch;
}
.footer__columns{
  display: flex;
  position: relative;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.footer__column{
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright{
  flex-basis: 711px;
  justify-content: space-between;
}
.logo_place_footer{
  width: 183px;
  height: 35px;
}
.footer__author{
  width: fit-content;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__social-link{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__link{
  color: #fff;
  text-decoration: none;
}
.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  margin: 0 auto 20px;
}
.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
}